/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

/*application.html.erb*/

.body {

	font-family: 'Gochi Hand';
	background-color: rgb(0,0,56);
	background-image: url("http://cdn.desktopwallpapers4.me/wallpapers/digital-art/1920x1080/2/14888-world-map-1920x1080-digital-art-wallpaper.jpg");
	color: rgb(255,195,13);

	#explore {
		font-size: 150px;
		color: rgb(255,195,13);
		background-color: rgba(255, 255, 255, 0);
		border-color: rgba(255, 255, 255,0);
	}

	#explore:hover {
		text-decoration: none;
		color: blue;
	}


	/*home.html.erb*/

	.search-row {
		margin-bottom: 20px;
	}

	.form-control {
		height: 100px;
		background-color: rgba(255, 255, 255, 0);
		border: 3px solid rgb(255,195,13);
		font-size: 50px;
		color: rgb(255,195,13);
	}

	.go {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		background-color: rgb(255,195,13);
		color: rgb(0,0,56);
		font-size: 50px;
	}

	.thumbnail {
		margin-left: 10px;
		margin-right: 10px;
	}

}