/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/*application.html.erb*/

a {
	font-family: 'Pacifico';
	font-size: 50px;
}

.body {
	background-color: rgb(236, 105, 94);
}

.button {
	margin-top: 300px;
	border: 5px solid black;
	border-radius: 10px;
	text-align: center;
	background-color: rgb(255, 245, 156);
	height: 100px;
}