/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

/*application.html.erb*/

a {
	font-family: 'Gochi Hand';
	font-size: 120px;
	color: rgb(56,11,74);
}

/*.body {
	background-image: url(http://media.giphy.com/media/V7iv6F73zBJe/giphy.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
}*/

.click {
	text-align: center;
}

/*home.html.erb*/

.explore-wrapper {
	width: 100%;
	margin: 0 25px 0 25px;
}

.search {
	margin-bottom: 25px;
}

img {
	border-radius: 50px;
}