<body class="body">

<button ng-click="getImages()"></button>

	<div class="row">

		<div class="col-sm-12">

	     <ul ng-repeat="d in data['data']">
	     <li><img src={{d['images']['thumbnail']['url']}}></li>
	     <li><p>lat: {{d['location']['latitude']}}, lng: {{d['location']['longitude']}}</p></li>
	     </ul>

		</div>

	</div>

</body>