<body class="body">

<!-- input lat and lng and submit -->

	<div class="container search-row col-xs-12">

	<div class="search col-xs-4">
			<input type="text" placeholder="latitude" class="form-control userLat input" ondragenter="handleDragDropEvent(event)" ondragover="handDragDropEvent(event)" ondragleave="handleDragDropEvent(event)" ondrop="handleDragDropEvent(event)" autofocus>
	</div>

	<div class="search col-xs-4">
			<input type="text" placeholder="longitude" class="form-control userLng input" ondragenter="handleDragDropEvent(event)" ondragover="handDragDropEvent(event)" ondragleave="handleDragDropEvent(event)" ondrop="handleDragDropEvent(event)">
	</div>

	<div class="search col-xs-4">
	<button class="go btn btn-default" ng-click="getImages()">go</button>
	</div>

</div>

<!-- lat/lng options to drag and drop, images rendered after 'go' button is clicked -->

<div class="container col-xs-12">

	<!-- lat/lng options -->

	<div>
		<input type="text" value="41.9033"
                  ondragstart="handleDragDropEvent(event)"
                  ondrag="handleDragDropEvent(event)"
                  ondragend="handleDragDropEvent(event)" />

    <input type="text" value="12.4533"
                  ondragstart="handleDragDropEvent(event)"
                  ondrag="handleDragDropEvent(event)"
                  ondragend="handleDragDropEvent(event)" />

	</div>

	<div class="col-xs-4 col-xs-offset-4" ng-repeat="d in data['data']">

		<div class="col-xs-12">

		    <img src={{d['images']['thumbnail']['url']}} class="img-thumbnail">

		    <div class="caption">
		      <h4><a class="loc-url" href=""> {{d['location']['latitude']}},{{d['location']['longitude']}}</a></h4>
		    </div>

		</div>

	</div>


</div>

</body>