<body class="body">

	<div class="row">

		<div class="col-sm-12">

			<!-- <div class="col-xs-12">
		    <div class="input-group">
		      <input type="text" class="form-control">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Go!</button>
		      </span>
		    </div>
  		</div> -->

			      <div class="spacer10"></div>
			      
			      <ul ng-repeat="image in data['data']" ng-repeat="location in data['data']">

			      <li><img src={{image['images']['thumbnail']['url']}}></li>
			      <li><p>{{location['location']['latitude, longitude']}}</p></li>
						
			      </ul>

		</div>

	</div>

</body>