<body class="body">

	<div class="row">

		<div class="col-sm-12">

			<!-- <div class="col-xs-12">
		    <div class="input-group">
		      <input type="text" class="form-control">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Go!</button>
		      </span>
		    </div>
  		</div> -->

		  
			      <a href="#" class="btn btn-default btn-block" role="button">Click here</a> 
			      <div class="spacer10"></div>
			      <img src={{data.url}}>

		</div>

	</div>

</body>