<!DOCTYPE html>
<html>
<head>
  <title>Practice4</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <%= csrf_meta_tags %>

  <script type="text/javascript">

  function handleDragDropEvent(oEvent) {
                var oTextbox = document.getElementById("txt1");
                oTextbox.value +=  oEvent.type + "\n";
            }

  </script>

</head>

<body class="body" ng-app="spaApp">

<div class="wrapper col-xs-12">

	<div class="page-header">

		<img class="treasuremap" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcThJVxgJ2Nwiv5Ccrt6-7slsdA1Dpid54gpu9Hzmg01jgHW8o9WGg" alt="">

	  <a id="explore" ui-sref="home" class="btn btn-default">e x p l o r e ...</a>
	  
	</div>

</div>	

<%= yield %>

</body>
</html>
